<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper namespace = 패키지이름, 패키지이름에 관련된 sql문을 작성하겠다 -->
<!-- mapper안에 sql문을 담을꺼임 -->
<mapper namespace="com.spring.board">
    
</mapper>  








































